<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <base href="./"> -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mario</title>
  <!-- <script src="../shared/local.js"></script> -->

  <!-- <script src="../shared/bundle.js"></script> -->
  <!-- <script src={require("../shared/local.js").default}></script> -->

  <!-- <link rel="stylesheet" type="text/css" href="./style.scss" /> -->
</head>

<body>
  <!-- <main class="content">
    <section class="header">
      mariodd
      <div id="something"></div>

    </section>
  </main> -->
  <div id="app"></div>
</body>

</html>